.header-bar {
  background-color: #1a1414;
  height: 105px;
}

.logo {
  padding: 22px 64px;
}

.login { 
  float: right;
  padding: 15px 192px;
}

.back-cover {
  background-image: url('https://iili.io/HFG9LbI.png');
  background-size: 693px 1031px;
}

.page-1 {
  background-image: url('https://iili.io/HFEpdOP.png');
  background-size: 693px 1031px;
}

.page-2 {
  background-image: url('https://iili.io/HFVIB4f.png');
  background-size: 693px 1031px;
}

.page-3 {
  background-color: #c82834;
}

.back-cover-title {
  font-size: 40px;
  font-weight: 900;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.back-cover-title:before {
  content: "";
  border-bottom: 1px solid #1ED75F;
  position: absolute;
  width: 366px;
  right: 22%;
  bottom: -28px;
}

.back-cover-title:after {
  content: "Na trilha da copa 2022";
  color: #1ED75F;
  position: absolute;
  left: 122px;
  bottom: -3px;
  z-index: -1;
}

.back-cover-logo {
  display: flex;
  margin: 100px auto;
}

.back-cover-paragraph {
  font-weight: 700;
  max-width: 506px;
  text-align: justify;
  margin: 24px auto;
}

.back-cover-tips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #232323;
  max-width: 335px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 30px 0 0 0;
  padding: 12px 15px 25px 0;
}

.back-cover-tips-list {
  font-size: 12px;
}

.sticker-text {
  position: absolute;
  font-size: 12px;
  max-width: 532px;
  right: 69px;
  text-align: center;
}

.sticker-country {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.sticker-description {
  font-size: 16px;
  max-width: 488px;
  margin: 0 auto;
  text-align: center;
}

.page-3 .sticker-description {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 10px 25px;
  margin-top: 100px;
}

.sponsor-logo img {
  max-width: 450px;
  max-height: 250px;
  display: flex;
  margin: 0 auto;
}