.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  background-color: #191414 !important;
  height: 250px;
  width: 450px;

  top: 50% !important;
  left: 50% !important;

  transform: translate(-50%, -50%) !important;
  border: none !important;
  border-radius: 40px !important;
}
