.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.sticker {
  width: 184px;
  height: 259px;
  margin: 45px;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}

.sticker:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: 5px;
  bottom: 5px;
  border: 3px solid #1ed75f
}

.cover image{
  width: 850px;
  height: 900px;
}